body {
  height: 420vh;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #001, #87CEEB);
  font-family: Arial, sans-serif;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: transparent;
  pointer-events: none;
}

.stars::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(2px 2px at 20% 30%, white, transparent),
    radial-gradient(2px 2px at 40% 80%, white, transparent),
    radial-gradient(2px 2px at 70% 50%, white, transparent),
    radial-gradient(2px 2px at 90% 20%, white, transparent),
    radial-gradient(2px 2px at 10% 70%, white, transparent),
    radial-gradient(2px 2px at 50% 10%, white, transparent),
    radial-gradient(2px 2px at 30% 90%, white, transparent),
    radial-gradient(2px 2px at 80% 40%, white, transparent),
    radial-gradient(2px 2px at 60% 60%, white, transparent);
  background-repeat: no-repeat;
}

.sun {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, #FFD700, #FFA500);
  border-radius: 50%;
  transition: bottom 0.2s ease-out;
}

.glow-button {
  padding: 12px 24px;
  background: transparent;
  color: #00ffff;
  border: 2px solid #00ffff;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
  position: absolute;
  right: 30px;
  top: 20px;
}

.glow-button:hover {
  box-shadow: 0 0 12px #00ffff, 0 0 24px #00ffff;
  background: rgba(0, 255, 255, 0.1);
  cursor: pointer;
}

.end-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 600px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.white-box p:first-child {
  color: olive;
  font-size: 35px;
}

.white-box p:last-child {
  color: black;
  font-size: 20px;
}

#starfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
  filter: blur(1px);
  animation: diagonalFall linear forwards;
}

@keyframes diagonalFall {
  0%   { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(120vw, 120vh); opacity: 0; }
}


.para-box {
  width: 80%;
  max-width: 600px;
  margin: 70vh auto 50px auto; 
  padding: 30px;
  border: 2px solid cyan;
  background: transparent;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 9999;
}

.para-box:hover {
  box-shadow: 0 0 20px 5px red;
  border-color: red;
}

.para-box p {
  color: #fff; 
  font-size: 1.2rem;
  margin: 0;
}



.solar-system {
    position: relative;
    width: 500px;
    height: 500px;
    text-align: center;
}

.proxima-century {
    width: 200px;
    height: 200px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

      display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.label {
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #ffd27f;
}

.orbit {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 32s linear infinite;
}

.planet {
    width: 80px;
    height: 80px;
    background: skyblue;
    border-radius: 50%;
    position: absolute;

  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.planet i {
    font-size: 22px;
    color: black;
}

.p1 { top: 0; left: 50%; transform: translateX(-50%); }
.p2 { right: 0; top: 50%; transform: translateY(-50%); }
.p3 { bottom: 0; left: 50%; transform: translateX(-50%); }
.p4 { left: 0; top: 50%; transform: translateY(-50%); }

@keyframes rotate {
    0%   { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.glow-card {
  width: 300px;
  padding: 30px;
  background: #111;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  transition: 0.3s ease;
  border: 2px solid transparent;
  boc-shadow: 0 0 20px rgba(0, 225, 225, 0);
}

.glow-card:hover {
  transform: perspective(600px) rotateX(8deg) rotateY(-8deg);
  border-color: #0ff;
  box-shadow: 0 0 25px #0ff,
    0 0 50px #0ff inset;
}

.cube-container {
  float: rigth;
  margin: 20px;
}

.scene {
  width: 200px;
  height: 200px;
  perspective: 800px;
  margin: 40px auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 10s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(0, 255, 255, 0.2);
  border: 2px solid #0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #0ff;
}

.face1 { transform: rotateY(0deg) translateZ(100px); }
.face2 { transform: rotateY(90deg) translateZ(100px); }
.face3 { transform: rotateY(180deg) translateZ(100px); }
.face4 { transform: rotateY(-90deg) translateZ(100px); }
.face5 { transform: rotateX(90deg) translateZ(100px); }
.face6 { transform: rotateX(-90deg) translateZ(100px); }

@keyframes rotateCube {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  padding: 40px;
}

.scroll-btn {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
